#home {
    padding: 1rem;
    padding-top: 0;
    text-align: center;
    background-image: url("../../../assets/images/stories/student.png");
    background-attachment: fixed;
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: 40% 50%;
    width: 100%;
    height: 100vh;
}

h4 {
    color: rgb(1, 1, 53);
    margin-top: 3rem;
}
