.row {
    padding-top: 1.2rem;
}

.container {
    margin: 0;
    padding: 0;
    position: relative;
}

.stories {
    margin: 0 auto;
    padding: 0;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#list-btn,
#story-btn {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: darkgreen;
    text-align: center;
    width: fit-content;
    margin-bottom: 10px;
}
