<div class="col-12">
    <h4>Pick A Bubble!</h4>
    <div id="bubbles">
        <a class="bubble" id="pyramid" routerLink="/math-games/pyramid"><br /> Build A Pyramid
        </a>
        <a class="bubble" id="memory" routerLink="/math-games/memory"><br /> Remember Me!
        </a>
        <a class="bubble" id="addbox" routerLink="/math-games/addbox"><br /> Magic AddBox
        </a>
        <a class="bubble" id="quiz" routerLink="/math-games/quiz"><br /> Number Quiz
        </a>
    </div>
</div>