#main {
    background-color: skyblue;
    background-image: URL(assets/images/background/blue-book-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 3rem;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
}

#inner {
    padding-left: 40%;
}

h3 {
    font-style: italic;
}

p {
    font-style: italic;
    font-size: larger;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

a:hover {
    opacity: 0.7;
}

.link-div {
    margin: 0 auto;
    padding: 1rem;
    width: fit-content;
}

#read {
    border-bottom: 3px solid darkmagenta;
    padding: 1rem 2rem;
}

#read>a {
    color: purple;
}

#write>a {
    color: darkgreen;
}
