#main {
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    height: 60vh;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgba(173, 216, 230, 0.4);
}

h3 {
    font-style: italic;
}

p {
    font-style: italic;
    font-size: larger;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

a:hover {
    opacity: 0.7;
}

.link-div {
    margin: 0 auto;
    padding: 1rem;
    width: fit-content;
}

#read {
    border-bottom: 3px solid darkred;
    padding: 1rem 2rem;
}

#read>a {
    color: darkred;
}